<h1 style="text-align: center;">Sisense</h1>
<div id="sisenseApp">
  <div id="filters" style = "height: 200px; width: 50%;" ></div>
  <div id = "widget1" style = "height: 350px; width: 50%; float: left; display: inline; margin-top:30px;"></div>
  <div id = "widget2" style = "height: 350px; width: 50%; float: right; display: inline; margin-top:30px;"></div>
</div>
